Debug
Release
lifelong.sln
lifelong.vcxproj
lifelong.vcxproj.filters
lifelong.vcxproj.user
CMakeCache.txt
.idea
.gitignore
aws.pem
.vs
.vscode
build
CMakeFiles
cmake-build-debug
cmake-build-release
maps
experiments
*.bat
vs_commands.txt
*.xml
*.iml
out
exp
~*
