Debug
Release
lifelong.sln
lifelong.vcxproj
lifelong.vcxproj.filters
lifelong.vcxproj.user
.idea
.gitignore
aws.pem
.vs
cmake-build-debug
cmake-build-release
maps
python-tools
experiments
*.bat
*.pptx
vs_commands.txt
*.xml
*.iml
